# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.metadata
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDE related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
pubspec.lock

#Build related
*.g.dart
*freezed.dart
# Symbolication related
app.*.symbols
app.*.map.json

# Platforms related
ios
android
windows
web
linux
macos